{% extends "base.html" %}
{% block title %}添加信息{% endblock %}

{% block content %}
<form method="post">
	標籤
	<input type="text" name="tags" />
	<br />
	內容
	<textarea name="content" rows="10" cols="30"></textarea>
	<input type="submit" value="提交" />
</form>
{% endblock %}
