{% extends "base.html" %}
{% block title %}信息{% endblock %}

{% block content %}
{% if info %}
<h1>ID:{{ info._id }}</h1>
<div>
	<p>標籤：
	{%- for tag in info.tags -%}
	{{- tag.tag -}}
	{%- if not loop.last %}, {% endif -%}
	{%- endfor -%}
	</p>
</div>
<p>內容：{{ info.content }}</p>
{% endif %}
{% endblock %}
