{% extends "base.html" %}
{% block title %}信息索引{% endblock %}

{% block content %}
{% if list %}
{% for info in list %}
<p>
<a href="{{ info }}">{{ info }}</a>
</p>
{% endfor %}
{% endif %}
<p><a href='/add_info'>添加新信息</a></p>
{% endblock %}
